<% if (task.status === "completed") { %>
    <tr class="completed">
<% } else if (task.status === "canceled") { %>
    <tr class="canceled">
<% } else { %>
    <tr>
<% } %>
    <td>
        <% if (task.priority) { %>
            <span class="priority-<%= task.priority %>"><%= task.priority %></span>
        <% } %>
    </td>
    <td>
        <% if (task.children.length != 0) { %>
            &gt;
        <% } %>
    </td>
    <td class="main">
        <span style="opacity: 0.3;">
            <% for( let index = 0; index < depth; index++ ) { %>---<% } %>
        </span>

        <% if (task.status === "completed") { %>
            <input type="checkbox" readonly checked />
            <a href="/task/<%= task.id %>/" class="task_link">
                <%= task.title %>
            </a>
        <% } else if (task.status === "canceled") { %>
            <s>
                <input type="checkbox" readonly />
                <a href="/task/<%= task.id %>/" class="task_link">
                    <%= task.title %>
                </a>
            </s>
        <% } else { %>
            <input type="checkbox" readonly />
            <a href="/task/<%= task.id %>/" class="task_link">
                <%= task.title %>
            </a>
        <% } %>

        <% if (task.recurrence) { %>
            (R)
        <% } %>

        <% if (task.notes) { %>
            <small class="note">
                <%= task.notes.text %> 
            </small>
        <% } %>
    </td>
    <td>
        <% if (task.start_date) { %>
            <span title="<%= dateformat(task.start_date, "yyyy/mm/dd") %>"><%= relativeDate(task.start_date) %></span>
        <% } %>
    </td>
    <td>
        <% if (task.due_date) { %>
            <span title="<%= dateformat(task.due_date, "yyyy/mm/dd") %>"><%= relativeDate(task.due_date) %></span>
        <% } %>
    </td>
</tr>
<% task.children.forEach(child => { %>
    <%- include('taskRow', { task: child, depth: depth + 1 }) %>
<% }) %>