<%- include('layout/header', {}) %>

<header>
    <h1><%= list.title %></h1>
</header>

<nav>
<%- include('partials/listTree', { items: lists }) %>
</nav>

<section class="main">
    <table>
        <thead>
            <tr>
                <th>&nbsp;<!-- Priority (implicit) --></th>
                <th>&nbsp;<!-- has children (implicit) --></th>
                <th>&nbsp;<!-- Title (implicit) --></th>
                <th>Start</th>
                <th>Due</th>
            </tr>
        </thead>
        <tbody>
            <% tasks.forEach(task => { %>
                <%- include('partials/taskRow', { task: task, depth: 0 }) %>
            <% }) %>
        </tbody>
    </table>
</section>

<%- include('layout/footer', {}) %>