<%- include('layout/header', {}) %>

<header>
    <h1><%= list.title %></h1>
</header>

<nav>
<%- include('partials/listTree', { items: lists }) %>
</nav>

<section class="main">
    <ol>
        <% tasks.forEach(task => { %>
            <li>
                <%= task.title %>
            </li>
        <% }) %>
    </ol>
</section>

<%- include('layout/footer', {}) %>