<%- include('layout/header', {}) %>

<h1><%= list.title %></h1>
<%- include('partials/listTree', { items: lists }) %>

<ol>
    <% tasks.forEach(task => { %>
        <li>
            <%= task.title %>
        </li>
    <% }) %>
</ol>

<%- include('layout/footer', {}) %>