<%- include('layout/header', {}) %>

<header>
    <h1><%= list.title %></h1>
</header>

<nav>
<%- include('partials/listTree', { items: lists }) %>
</nav>

<section class="main">
    <ol>
        <% tasks.forEach(task => { %>
            <li>
                <% if (task.status === "completed") { %>
                    <input type="checkbox" readonly checked />
                    <%= task.title %>
                <% } else if (task.status === "canceled") { %>
                    <s>
                        <input type="checkbox" readonly />
                        <%= task.title %>
                    </s>
                <% } else { %>
                    <input type="checkbox" readonly />
                    <%= task.title %>
                <% } %>

                <% if (task.notes) { %>
                    <!-- TODO remove BR -->
                    <br />
                    <small>
                        <%= task.notes.text %> 
                    </small>
                <% } %>
                <!-- TODO: children -->
            </li>
        <% }) %>
    </ol>
</section>

<%- include('layout/footer', {}) %>